.sidebar__container {
	height: 100%;
	width: 15%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #d3d3d3;
	overflow-x: hidden;
	padding-top: 20px;
}

.sidebar__container a {
	text-align: center;
	padding: 8px 10px 8px 16px;
	text-decoration: none;
	font-size: 25px;
	color: #000000;
	display: block;
}

.sidebar__container a:hover {
	color: #ffffff;
	background-color: rgb(83, 158, 243);
}

@media screen and (max-height: 450px) {
	.sidebar__container {
		padding-top: 15px;
	}
	.sidebar__container a {
		font-size: 18px;
	}
}
