.sidebar__container {
	height: 100%;
	width: 100%;
	background-color: #fabb6a;
	overflow-x: hidden;
	padding-top: 17px;
	border-right: 1px solid rgba(0, 0, 0, 0.3);
	display: flex;
	flex-direction: column;
}

.sidebar__container a {
	text-align: center;
	padding: 8px 10px 8px 16px;
	text-decoration: none;
	font-size: 25px;
	color: #000000;
	display: block;
	width: 100%;
}

.sidebar__container a:hover {
	color: #ffffff;
	background-color: #ff9a15;
}
.sidebar--logout {
	cursor: pointer;
	text-align: center;
	margin-top: 800px;
}
.icon {
	cursor: pointer;
	height: 40px;
}
.icon:hover {
	cursor: pointer;
	transform: rotate(180deg);
	transition: 1s;
}
@media screen and (max-height: 450px) {
	.sidebar__container {
		padding-top: 15px;
	}
	.sidebar__container a {
		font-size: 18px;
	}
}
