.boxchat {
    width: 100%;
    height: 100vh;
}

.boxchat__header {
    text-align: center;
    font-size: 40px;
    height: 40px;
    border-bottom: 1px solid rgb(59, 59, 59);
}

h1 {
    text-align: center;
    margin: 0 auto;
}

.boxchat__container {
    width: 100%;
    height: 100%;
}

.boxchat__input {
    margin-top: 10px;
    height: 10%;
    border-top: 1px solid #000;
}

.boxchat__input--layout {
    padding: 30px;
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: auto;
}

input {
    border-radius: 10px 0 0 10px;
    font-size: 30px;
    border: transparent;
    width: 90%;
    background-color: rgb(230, 230, 230);
}

.submit {
    border-radius: 0 10px 10px 0;
    font-size: 30px;
    border: 1px solid transparent;
    height: 80%;
    background-color: #fabb6a;
}

.submit:hover {
    cursor: pointer;
    background-color: #ff9a15;
}

.boxchat__screen {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: calc(100% - 140px);
}

.sendMessenger {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 20px;
    padding: 20px;
}

.messenger__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 20px;
    background-color: #ff9a15;
    border-radius: 15px 15px 0 15px;
    padding: 10px;
}

.messenger__container>img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: contain;
}

.messenger__text {
    display: block;
    font-size: 15px;
}